<div class="panel panel-default" >
    <div class="panel-heading" style="text-align:center;">
        <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Fitness Squad&nbsp;<span class="caret"></span>
            </a>
        </h2>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <div id="fh5co-trainer">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Fitness Squad</h2>
                            <p>Fitness is about so much more than exercise. It's a catalyst for positive change, and it affects every aspect of your life.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 animate-box">
                            <div class="trainer">
                                <img class="img-responsive" src="~/stamina/images/home-trainer1.jpg" alt="trainer" style="width:80%; height:500px">
                                <div class="title">
                                    <h3>Angel Adams</h3>
                                    <span>Dance Expert</span>
                                </div>
                                <div class="desc text-center">
                                    <ul class="fh5co-social-icons" style="color:black">
                                        <li><i class="icon-twitter"></i></li>
                                        <li><i class="icon-facebook"></i></li>
                                        <li><i class="icon-linkedin"></i></li>
                                        <li><i class="icon-dribbble"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 animate-box">
                            <div class="trainer">
                                <img class="img-responsive" src="~/stamina/images/home-trainer2.jpg" alt="trainer" style="width:80%; height:500px">
                                <div class="title">
                                    <h3>Arnold Smith</h3>
                                    <span>Body Building Expert</span>
                                </div>
                                <div class="desc text-center">
                                    <ul class="fh5co-social-icons" style="color:black">
                                        <li><i class="icon-twitter"></i></li>
                                        <li><i class="icon-facebook"></i></li>
                                        <li><i class="icon-linkedin"></i></li>
                                        <li><i class="icon-dribbble"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 animate-box">
                            <div class="trainer">
                                <img class="img-responsive" src="~/stamina/images/home-trainer3.jpg" alt="trainer" style="width:80%; height:500px">
                                <div class="title">
                                    <h3>Rachel Seely</h3>
                                    <span>Yoga Expert</span>
                                </div>
                                <div class="desc text-center">
                                    <ul class="fh5co-social-icons" style="color:black">
                                        <li><i class="icon-twitter"></i></li>
                                        <li><i class="icon-facebook"></i></li>
                                        <li><i class="icon-linkedin"></i></li>
                                        <li><i class="icon-dribbble"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
