@model ToneHouseMvc.Models.PersoanlDetailsModel
<div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Welcome!!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <figure>
                                    <img src="~/stamina/images/home-feedback1.jpg" class="img-circle" alt="user">
                                </figure>
                                <span>@Session["Sessionemail"]</span>
                                <blockquote>
                                    <p>&ldquo;Congrats Total calories burned !!&rdquo;<strong> <h1>@TempData["Sum"]</h1></strong></p>
                                    <p>Weight! @Model.Weight<p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">

                                <span>Details 2</span>

                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">

                                <span>Details 3</span>
                                <blockquote>
                                    <p>&ldquo;So I downloaded this app a long time ago and never used it. Well I started using it a couple of weeks ago and I already see noticeable change. I have also mixed in a diet of my own choosing. Between the workouts and the diet I can already feel fit.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>